ul {
  display: flex;
  padding: 10px;
  margin: 0;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: rgb(236, 149, 217);
  color: aliceblue;
}

.link {
  cursor: pointer;
  padding: 8px 15px; /* Adjusted padding for better clickability */
  border-radius: 10px;
  text-decoration: none;
  color: aliceblue;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.link:hover {
  background-color: white;
  color: chocolate;
}
